a {
  text-decoration: none;
}
ul,
dl {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p,
dd {
  margin: 0;
}
button {
  outline: none;
}
a {
  -webkit-tap-highlight-color: transparent;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.flex-sp-between,
.header_inner,
.menu_list,
.features_inner,
.label_file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-col-sp-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
html,
body {
  font-size: 16px;
}
body {
  font-family: 'Asap-regular', sans-serif;
  font-weight: 400;
  line-height: 26px;
  background-color: #f8f8f8;
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  min-width: 360px;
  margin: 0;
  padding: 0;
}
body.noscroll {
  overflow: hidden;
}
button,
input[type="submit"] {
  border: none;
  background: none;
  padding: 0;
  outline: 0;
  color: inherit;
  cursor: pointer;
}
a {
  display: inline-block;
  color: inherit;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
img,
source {
  width: 100%;
  height: 100%;
}
.sign_btn {
  font-family: 'Asap-regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding: 0.75em 1em;
  border-radius: 4em;
  background-color: #F4E041;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  margin-top: 30px;
}
.sign_btn .sign_btn_inner {
  display: inline-block;
  width: 115px;
}
.sign_btn:hover {
  background-color: #FFE302;
}
.header_top {
  background-color: #fff;
  padding: 0 10px;
}
.header_inner {
  padding: 10px 0;
}
.header_inner .logo {
  max-width: 105px;
  height: 26px;
}
.menu_list .menu_item {
  line-height: 0;
}
.menu_list .menu_item_link {
  max-width: 130px;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 7px 15px;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.menu_list .menu_item_link:hover,
.menu_list .menu_item_link:focus {
  background-color: rgba(0, 189, 211, 0.1);
  color: #00BDD3;
}
.header_content {
  padding: 0 30px;
  min-height: calc(100vh - 60px);
  background: #EDECEA url("../img/bg-img/header.jpg") no-repeat;
  background-size: contain;
  background-position: center;
}
.header_content_inner {
  max-width: 670px;
  height: calc(100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header_content_inner .title {
  font-family: 'Nunito-regular', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}
.header_content_inner .title_desc {
  max-width: 530px;
  margin: 20px 0 0;
}
.mobile_block_menu,
.mobile_menu_btn {
  display: none;
}
.features {
  padding: 180px 30px 90px;
}
.features_block_img {
  max-width: 387px;
  min-width: 295px;
  margin-right: 40px;
  line-height: 0;
}
.title_temp_block .title_temp {
  font-family: 'Nunito-regular', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}
.title_temp_block .subtitle {
  font-family: 'Nunito-regular', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  margin: 10px 0 20px;
}
.features_content {
  max-width: 680px;
  text-align: right;
}
.users {
  padding: 100px 30px 90px;
}
.users .title_temp_block {
  max-width: 450px;
  text-align: center;
  margin: 0 auto;
}
.users .title_temp_block .subtitle {
  margin-bottom: 0;
}
.user_block {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 313px);
  grid-gap: 30px;
  margin: 30px 0 20px;
}
.user {
  max-width: 370px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 36px 30px;
}
.user .photo,
.user .photo_img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
}
.user .user_name,
.user .user_position,
.user .user_email,
.user .user_tel {
  max-width: 270px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user .user_name {
  font-family: 'Nunito-regular', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  margin: 15px auto 5px;
}
.btn_box {
  text-align: center;
}
.register {
  padding: 90px 15px 180px;
  background: #f8f8f8 url("../img/bg-img/footprint.png") no-repeat;
  background-position: bottom right;
}
.register .title_temp_block {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.form_request {
  max-width: 380px;
  margin: 0 auto;
  margin-top: 30px;
}
.form_request .block_input_data {
  line-height: 0;
}
.form_request .label_input_data,
.form_request .input_data {
  display: inline-block;
  width: 100%;
  line-height: 26px;
  background: none;
  position: relative;
}
.form_request .label_input_data:not(:last-child) {
  margin-bottom: 47px;
}
.form_request .input_data {
  padding: 14px 16px;
  border: none;
  border: 1px solid #D0CFCF;
  border-radius: 4px;
  outline: none;
}
.form_request .input_data::-webkit-input-placeholder {
  color: #7e7e7e;
}
.form_request .input_data::-moz-placeholder {
  color: #7e7e7e;
}
.form_request .input_data:-ms-input-placeholder {
  color: #7e7e7e;
}
.form_request .input_data::-ms-input-placeholder {
  color: #7e7e7e;
}
.form_request .input_data::placeholder {
  color: #7e7e7e;
}
.form_request .label_decor {
  display: none;
}
.form_request .input_data:focus,
.form_request .input_data:active {
  outline: 2px solid #00BDD3;
}
.form_request .input_data:focus + .label_decor,
.form_request .input_data:active + .label_decor {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  width: 38px;
  height: 17px;
  color: #00BDD3;
  position: absolute;
  top: -15px;
  left: 10px;
  background-color: #f8f8f8;
}
.form_request .input_data:invalid {
  outline: 2px solid #CB3D40;
}
.form_request .input_data:invalid + .label_decor {
  color: #CB3D40;
}
.block_input_radio {
  margin: 40px 0 46px;
}
.block_input_radio .title_select {
  font-family: 'Nunito-regular', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 10px;
}
.block_input_radio .label_radio {
  display: block;
  cursor: pointer;
}
.block_input_radio .label_radio:not(:last-child) {
  margin-bottom: 8px;
}
.block_input_radio .label_radio input[type="radio"] {
  display: none;
}
.block_input_radio .label_radio .circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: sub;
  border: 1px solid #D0CFCF;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
.block_input_radio .circle::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #00BDD3;
  border-radius: 50%;
  opacity: 0;
}
.block_input_radio input[type="radio"]:checked + .circle {
  border: 1px solid #00BDD3;
}
.block_input_radio input[type="radio"]:checked + .circle::before {
  opacity: 1;
}
.label_file,
.input_file,
.label_btn {
  width: 100%;
}
.input_file {
  display: none;
}
.input_file:invalid + .input_file_btn {
  border: 2px solid #CB3D40;
}
.label_file {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  cursor: pointer;
}
.label_file .input_file_btn {
  border-radius: 4px 0px 0px 4px;
  border: 1px solid rgba(0, 0, 0, 0.87);
  padding: 14px 15px 14px 16px;
}
.label_file .input_file_text {
  width: 100%;
  padding: 14px 15px 14px 16px;
  color: #7e7e7e;
  border-width: 1px;
  border-style: solid;
  border-color: #D0CFCF #D0CFCF #D0CFCF transparent;
  border-radius: 0 4px 4px 0;
}
.label_file .input_file_error {
  border-width: 2px;
  border-style: solid;
  border-color: #CB3D40 #CB3D40 #CB3D40 transparent;
}
.label_file .input_file_btn_error {
  border: 2px solid #CB3D40;
}
.label_btn {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.label_btn .sign_btn {
  width: 148px;
  padding: 0.75em 1em;
  background-color: #f4e041;
  margin-top: 50px;
}
.label_btn .sign_btn:hover {
  background-color: #ffe302;
}
.footer_block {
  text-align: center;
  padding: 16px 0;
  background-color: #fff;
}
@media (max-width: 768px) {
  .menu_list {
    display: none;
  }
  .header_inner {
    padding: 17px 25px 17px 20px;
  }
  .mobile_menu_btn {
    display: block;
    width: 25px;
    height: 25px;
  }
  .mobile_menu_btn .svg_path {
    fill: rgba(0, 0, 0, 0.87);
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 360px) {
  .header_inner {
    padding: 17px 5px 17px 5px;
  }
}
@media (max-width: 1920px) {
  .header_content {
    background: #EDECEA url("../img/bg-img/header.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 768px) {
  .header_content {
    height: 500px;
    min-height: auto;
    background: #EDECEA url("../img/bg-img/middleHeader.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
  .header_content_inner {
    height: 500px;
  }
}
@media (max-width: 360px) {
  .header_content {
    background: #EDECEA url("../img/bg-img/mobileheader.jpg") no-repeat;
    background-size: contain;
    background-position: center bottom;
  }
}
@media (max-width: 768px) {
  .features {
    padding: 145px 30px 90px;
  }
  .features_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .features_block_img {
    margin: 40px 0 40px 0;
  }
  .features_content {
    text-align: left;
  }
}
@media (max-width: 360px) {
  .features {
    padding: 145px 15px 90px;
  }
}
@media (max-width: 1100px) {
  .user_block {
    max-width: 800px;
    margin: 30px auto 20px;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-gap: 15px;
  }
}
@media (max-width: 720px) {
  .users {
    padding: 55px 15px 55px;
  }
  .user_block {
    max-width: 370px;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}
@media (max-width: 768px) {
  .register {
    padding: 90px 15px 150px;
    background-position: -140% 100%;
  }
}
@media (max-width: 360px) {
  .register {
    background: #f8f8f8 url(../img/bg-img/mobilefooter.png) no-repeat;
    background-position: 100% 100%;
  }
}
